html {
    font-size: 67.5%;
}

:root {
    /* COLORS */
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    /* fONTS */
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 40rem;
}

.logo {
    width: 15rem;
    margin-bottom: 5rem;
    justify-self: center;
    display: none;
}

.title {
    font-family: var(--lg);
    margin-bottom: 1.2rem;
    text-align: center;
}

.subtitle {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 3rem;
    font-weight: 300;
    text-align: center;
}

.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: .4rem;
}

.input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 1rem;
    height: 3rem;
    font-size: var(--md);
    padding: .6rem;
    margin-bottom: 1.2rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.primary-button {
    border-radius: 1rem;
    border: none;
    color: #FFFFFF;
    background-color: var(--hospital-green);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 4rem;
}

.login-button {
    margin-bottom: 3rem;
    margin-top: 2rem;
}


/* CSS page about message sent */

.email-image {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.email-image img {
    width: 7rem;
}

.resend {
    font-size: var(--sm);
}

.resend span {
    color: var(--very-light-pink);
}

.resend a {
    color: var(--hospital-green);
    text-decoration: none;
}

.center-image {
    justify-items: center;
}


/* sección de login */

.forgot {
    color: var(--hospital-green);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 5rem;
    margin-top: 1rem;
}

.secondary-button {
    background-color: var(--white);
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
    padding: 1rem 0;
    cursor: pointer;
    border-radius: 1rem;
}


/* Seccion my account */

.account {
    font-weight: 700;
    margin-bottom: 4rem;
    font-size: var(--lg);
}

.input-name,
.input-email,
.input-password {
    margin-bottom: 2.2rem;
}

.form div {
    display: flex;
    flex-direction: column;
}

.value {
    font-size: var(--md);
    color: var(--very-light-pink);
    margin: 1rem 0 3rem 0;
}


/* section main page */

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 24rem);
    gap: 2.5rem;
    place-content: center;
}

.product-card {
    width: 24rem;
}

.product-card img {
    width: 24rem;
    height: 24rem;
    border-radius: 1rem;
    object-fit: cover;
    margin-bottom: 1rem;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info figure img {
    width: 3rem;
    height: 3rem;
}

.product-info figure {
    margin: 0;
}

.product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.product-info div p:nth-child(2) {
    font-size: var(--sm);
    color: var(--very-light-pink);
    margin: 0;
}


/* Menu de navegación */

.desktop-menu {
    width: 10rem;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 0.5rem;
    padding: 2rem 2rem 0 2rem;
    display: none;
}

.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-menu ul li {
    text-align: end;
}

.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
    font-weight: bold;
}

.desktop-menu ul li a {
    text-decoration: none;
    color: var(--black);
    display: inline-block;
    margin-bottom: 1rem;
    font-size: var(--md);
}

.desktop-menu ul li:last-child {
    padding-top: 2rem;
    border-top: 1px solid var(--hospital-green);
}

.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}


/* Menu en Mobil */


/* media queries */

@media (max-width:640px) {
    .logo {
        display: block;
    }
    .forgot {
        margin-bottom: 15rem;
    }
    .button-edit {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 3rem;
    }
    .form div {
        display: flex;
        flex-direction: column;
    }
    .form-container {
        height: 100%;
    }
    .form {
        height: 100%;
        justify-content: space-between;
    }
    .card-container {
        grid-template-columns: repeat(auto-fill, 14rem);
        gap: 2.5rem;
    }
    .product-card {
        width: 14rem;
    }
    .product-card img {
        width: 14rem;
        height: 14rem;
        border-radius: 1rem;
        object-fit: cover;
    }
}